extends layout

block content
    -showImages = showImages || false
    -images = images
    -email = email
    -data = data || {}
    -registered = registered || false 
    if registered
        div(class="container-fluid")
            div(id="introduction" class="col-lg-12")
                h1 First Time?
                p In order to Use Our service  please do the Following instructions:
                p 1) Mandatory: Upload the images that were taken by the drone with suffix .png/.jpg to InputDirectory
                p 2) optional:Upload The orto file which ends with tif suffix  to tifOrthoFileFolder - maximum of 1 photo
                p 3) optional:Upload The orto file which ends with tif  to tfwOrthoDataFolder: - maximum  1 photo
                p 4) In order to get heat-Map  as well in the results- please complete optional steps 2 and 3
                p 5) please choose the nearest location to where the pictures where taken,appears under National weather service
                p 6) After completing the steps, please press Submit button.
                form(class="formClass" action="/myImages"   method="post" enctype="multipart/form-data")
                    - var inputFolders= ["inputDirectory","tifOrthoFileFolder", "tfwOrthoDataFolder"]
                        each inputFolder in inputFolders
                            div(class="uploadsDivDirectory")
                                label(for="usr" class="") #{inputFolder} :
                                br
                                <input  type="file"  name=#{inputFolder} id="usr" multiple>
                        div(class="uploadsDivDirectory")
                            label(for="usr" class="") National Weather Service
                            br
                            <select class="selectedCity" >
                                - var cities =["Eilat","Mitzpe Ramon","Beersheba","Ein Gedi","Jerusalem","Lod","Ashdod","Tel Aviv","Haifa","Tzfat","Katzrin","Beit Shean","Afula","Tveria","Nazareth"];
                                each city in cities
                                    option(value= city) #{city}
                        <input type="text" class="hideMe" name="chosenCity" id="chosenCity">
                        br 
                        div(class="uploadsDivDirectory")
                            label(for="usr" class="") 
                            br
                            <button class="analyze" type="button"> submit </button>                    
                        br
                        <input  class="downloadInputDirectory hideMe" type="submit">
            div(class="alert alert-primary hideMe" role="alert") We will send you an email when we finish the analysis on the pictures!
            div(id="introduction" class="col-lg-12 meteorologyDiv")
                h1 Already Uploaded?
                p In Order to go check the results please Press here :
                    <button  onclick="window.location.href = 'results';" class="results" type="button"> results </button>
                p In Order to go check the National Weather Service press here :
                     <button  onclick="window.location.href = 'meteorologyforcast';" class="meteorologyforcast" type="button"> forecast </button>
                
        
            
    else
        div(class="container-fluid")
            div(id="introduction" class="col-lg-12")
                h1 The Problem
                p Farming field monitoring is a complex problem. A Grown field looks like a continuous carpet in a typical 300-acre area and even more. When a field is ill or attacked by the pest, The phenomenon begins in a narrow field. This area may be far from the edge of the field and unobservable from the ground.
            div(id="introduction" class="col-lg-12")
                h1 Our Solution
                p We Provide the farmer with a Solution for diagnostic an ill field. We analyze the images the farmer uploads to us, which is taken Mostly by drone which hover over the field and takes pictures, and then returns a analytics on those pictures.  
            