extends layout

block content
    -data = data || {}
    -registered = registered || false 
    if registered
        div Upload Images
        br
        <form action="." method="post">Select images:
            <input type="file" name="img" multiple>       
            - var lst =["Eilat","Mitzpe Ramon","Beersheba","Ein Gedi","Jerusalem","Lod","Ashdod","Tel Aviv","Haifa","Tzfat","Katzrin","Beit Shean","Afula","Tveria","Nazareth"];
            <select >
                each city in lst
                    option(value= city) #{city}           
            <input type="submit">
    
            
    else
        a(
            class='JoinNow'
            href = '/join'
        )   Join now 
        br
        a(
        class='signIn'
        href = '/signIn'
        ) Sign in 
        br 