doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    title= `${title}`
    -var failed = registerFailed || 'please Register' 
    div.container.listing-reg
      h1 Final   
      block content