doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    

  body
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    title= `${title}`
    -var failed = registerFailed || 'please Register' 
    div.container.listing-reg
      h1 Final   
      block content