extends layout
block content
    -images = images || {}
    -email = email
    -directory = dir
    if images
        div(class="gallery" id="gallery" style="opacity: 1;") your images are:
            each myImg in images
                div(class="mb-3 pics animation all 1")
                    img(alt="Card image cap" class="img-fluid sizeOfPics " src=  directory + "/" + myImg)
                br
                br
                br
                br

    else
        div your images will be present shourtly...



        //a(download="custom-filename.jpg" title="ImageName" src= directory + "/" +myImg)